@model Invoice
@{
    ViewData["Title"] = "Invoice Page";
    Layout = "~/Views/Shared/_LayoutShopping.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="container mb-5 mt-3">
            <div class="row d-flex align-items-baseline">
                <div class="col-xl-9">
                    <p style="color: #7e8d9f;font-size: 20px;">فاتورة رقم: <strong> #@Model.Id</strong></p>
                </div>
                <div class="col-xl-3 float-end">
                    <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark">
                        <i class="fas fa-print text-primary"></i> طباعة
                    </a>
                    <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark">
                        <i class="far fa-file-pdf text-danger"></i> حفظ
                    </a>
                </div>
                <hr>
            </div>

            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">
                        <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
                        <p class="pt-0"></p>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-unstyled">
                            <li class="text-muted">To: <span style="color:#5d9fc5 ;">@Model.IdCostumer</span></li>
                            @* <li class="text-muted">Street, City</li>
                            <li class="text-muted">State, Country</li>
                            <li class="text-muted"><i class="fas fa-phone"></i> 123-456-789</li>*@
                        </ul>
                    </div>
                    <div class="col-xl-4">
                        <p class="text-muted">فاتورة</p>
                        <ul class="list-unstyled">
                            <li class="text-muted">
                                <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">رقم:</span>#@Model.Id
                            </li>
                            @*<li class="text-muted">
                            <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">Creation Date: </span>@DateTime.Now
                            </li>*@
                            <li class="text-muted">
                                <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="me-1 fw-bold">الحالة:</span><span class="badge bg-warning text-black fw-bold">
                                    غير مدفوعة
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless">
                        <thead style="background-color:#84B0CA ;" class="text-white">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">اسم المنتج</th>
                                <th scope="col">الكمية</th>
                                <th scope="col">السعر</th>
                                <th scope="col">المجموع</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>@Model.NameProduct</td>
                                <td>@Model.QTY</td>
                                <td>@Model.Price</td>
                                <td>@Model.Price</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        @*<p class="ms-3">Add additional notes and payment information</p>*@

                    </div>
                    <div class="col-xl-3">
                        <ul class="list-unstyled">
                            <li class="text-muted ms-3"><span class="text-black me-4">المجموع الجزئي</span>@Model.Price</li>
                            <li class="text-muted ms-3 mt-2"><span class="text-black me-4">ضريبة القيمة المضافة (%@(Model.Tax * 100)): </span>@(Model.Tax * Model.Price)</li>
                        </ul>
                        <p class="text-black float-start">
                            <span class="text-black me-3"> المجموع النهائي</span><span style="font-size: 25px;">@Model.Total</span>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xl-10">
                        <p>شكرا لك على تسوقك معنا :)</p>
                    </div>
                    <div class="col-xl-2">
                        <button type="button" class="btn btn-primary text-capitalize"
                                style="background-color:#60bdf3 ;">
                            ادفع الان
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>